/*.frejustoulon.fr.cer
/*.frejustoulon.fr.pfx
/*.github.com.cer
/*.github.com.pfx
/*.google.com.cer
/*.google.com.pfx
/*.googleapis.com.cer
/*.googleapis.com.pfx
/*.gstatic.com.cer
/*.gstatic.com.pfx
/*.mail.google.com.cer
/*.mail.google.com.pfx
/*.stackexchange.com.cer
/*.stackexchange.com.pfx
/*.whatsapp.net.cer
/*.whatsapp.net.pfx
/hemisphere.cloud.cer
/hemisphere.cloud.pfx
/mail.google.com.cer
/mail.google.com.pfx
/outlook.com.cer
/outlook.com.pfx
/project-M1.cer
/project-M1.pfx
/proxy.brave.com.cer
/proxy.brave.com.pfx
/sni.cloudflaressl.com.cer
/sni.cloudflaressl.com.pfx
/www.google.com.cer
/www.google.com.pfx
/www-ww.oracle.com.cer
/www-ww.oracle.com.pfx
